<h1 style="font-size: px;">Self Attempt-Database sqlite3 </h1>

In [1]:
# I should remember all the things I have done in the past.
# 1.语法：操作均大写
# 2.操作1+表格+操作2+行或列信息+WHERE+筛选条件+ORDER BY+行或列信息+ASC或DESC
# 3.先名字后数据类型：数据类型有 TEXT,INTEGER,REAL,BLOB,NULL
# 4.SELECT要放在FROM
# 5.AND和OR是逻辑运算符
# 6.字符串要用引号
# 7.排序：ASC升序，DESC降序
# 8.CREATE中AUTOINCREMENT自增长
# 9.三引号用来写长的分段
# 10.分号意味着语句结束，最好保持写的习惯
# 11.INSERT后面一定要跟INTO，但是INTO有可能跟SELECT
# 12.UPDATE后面一定要跟SET，但是SET有可能跟SELECT
# 13.UPDATE table_name: 指定你想要更新的表名。
#    SET column1 = value1, column2 = value2: 指定你要更新的列及其新值。
#    WHERE condition: 指定要更新哪些行。注意，最好加上 WHERE 子句，以避免更新整个表的所有行。

In [2]:
import sqlite3 #import

In [3]:
conn=sqlite3.connect("xiao.db") #connect

In [4]:
cursor=conn.cursor() #create a cursor

In [5]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    student_id INTEGER PRIMARY KEY AUTOINCREMENT,
    student_name TEXT NOT NULL,
    student_age INTEGER NOT NULL,
    major TEXT
);
''') #create a table

In [7]:
cursor.execute('''
INSERT INTO students (student_name, student_age, major)
VALUES ('John Doe', 21, 'Computer Science');
''')
conn.commit()

In [8]:
cursor.execute('''
INSERT INTO students (student_name, student_age, major)
VALUES ('Alice', 23, 'Mathematics');
''')
conn.commit()

In [9]:
cursor.execute('''
INSERT INTO students(student_name, student_age, major)
VALUES 
    ('Bob', 20, 'Computer Science'),
    ('Charlie', 22, 'Physics');
''')
conn.commit()

In [10]:
cursor.execute('''
UPDATE students
SET student_age = 24
WHERE student_name = 'Alice';
''')
conn.commit()

In [11]:
cursor.execute('''
DELETE FROM students
WHERE student_name = 'Bob';
''')
conn.commit()

In [14]:
cursor.execute('''
SELECT * FROM students;
''')
#注意！！！这里选定的是代理人CURSOR，所以要加fetch语句！！
# 获取所有结果
results = cursor.fetchall()

# 打印结果
for row in results:
    print(row)

(1, 'John Doe', 21, 'Computer Science')
(2, 'John Doe', 21, 'Computer Science')
(3, 'Alice', 24, 'Mathematics')
(5, 'Charlie', 22, 'Physics')