<h1 style="font-size: px;">Self Attempt-Database sqlite3 </h1>

In [ ]:
# I should remember all the things I have done in the past.
# 1.语法：操作均大写
# 2.操作1+表格+操作2+行或列信息+WHERE+筛选条件+ORDER BY+行或列信息+ASC或DESC
# 3.先名字后数据类型：数据类型有 TEXT,INTEGER,REAL,BLOB,NULL
# 4.SELECT要放在FROM
# 5.AND和OR是逻辑运算符
# 6.字符串要用引号
# 7.排序：ASC升序，DESC降序
# 8.CREATE中AUTOINCREMENT自增长
# 9.三引号用来写长的分段
# 10.分号意味着语句结束，最好保持写的习惯
# 11.INSERT后面一定要跟INTO，但是INTO有可能跟SELECT
# 12.UPDATE后面一定要跟SET，但是SET有可能跟SELECT
# 13.UPDATE table_name: 指定你想要更新的表名。
# SET column1 = value1, column2 = value2: 指定你要更新的列及其新值。
# WHERE condition: 指定要更新哪些行。注意，最好加上 WHERE 子句，以避免更新整个表的所有行。

In [2]:
import sqlite3 #import

In [3]:
conn=sqlite3.connect("xiao.db") #connect

In [4]:
cursor=conn.cursor() #create a cursor

In [5]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    student_id INTEGER PRIMARY KEY AUTOINCREMENT,
    student_name TEXT NOT NULL,
    student_age INTEGER NOT NULL,
    major TEXT
);
''') #create a table

In [7]:
cursor.execute('''
INSERT INTO students (student_name, student_age, major)
VALUES ('John Doe', 21, 'Computer Science');
''')
conn.commit()

In [8]:
cursor.execute('''
INSERT INTO students (student_name, student_age, major)
VALUES ('Alice', 23, 'Mathematics');
''')
conn.commit()

In [9]:
cursor.execute('''
INSERT INTO students(student_name, student_age, major)
VALUES 
    ('Bob', 20, 'Computer Science'),
    ('Charlie', 22, 'Physics');
''')
conn.commit()

In [10]:
cursor.execute('''
UPDATE students
SET student_age = 24
WHERE student_name = 'Alice';
''')
conn.commit()

In [11]:
cursor.execute('''
DELETE FROM students
WHERE student_name = 'Bob';
''')
conn.commit()

In [14]:
cursor.execute('''
SELECT * FROM students;
''')
#注意！！！这里选定的是代理人CURSOR，所以要加fetch语句！！
# 获取所有结果
results = cursor.fetchall()

# 打印结果
for row in results:
    print(row)

(1, 'John Doe', 21, 'Computer Science')
(2, 'John Doe', 21, 'Computer Science')
(3, 'Alice', 24, 'Mathematics')
(5, 'Charlie', 22, 'Physics')

In [6]:
import sqlite3

# 使用上下文管理器确保连接自动关闭
with sqlite3.connect('company.db') as db:
    cursor = db.cursor()
    
    # 修复拼写错误
    cursor.execute('''CREATE TABLE IF NOT EXISTS students(
        id INTEGER PRIMARY KEY, 
        name TEXT NOT NULL, 
        class TEXT NOT NULL, 
        grade INTEGER);''')
    
       # 创建 class 表
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS class (
        class TEXT PRIMARY KEY,
        lecturer TEXT NOT NULL
    )''')
    # 插入一些测试数据到 students 表
    cursor.execute("INSERT OR IGNORE INTO students (id, name, class, grade) VALUES (1, 'John', 'Math', 75)")
    cursor.execute("INSERT OR IGNORE INTO students (id, name, class, grade) VALUES (2, 'Alice', 'Python', 90)")

    # 插入一些测试数据到 class 表
    cursor.execute("INSERT OR IGNORE INTO class (class, lecturer) VALUES ('Math', 'Dr. Smith')")
    cursor.execute("INSERT OR IGNORE INTO class (class, lecturer) VALUES ('Python', 'Prof. Johnson')")
    # 修复插入语句中的引号问题
    # cursor.execute('''INSERT INTO students(id, name, class, grade) 
    # VALUES(1, 'Mary', 'Python', 67)''')
    
    # 提交初始插入数据
    db.commit()
    
    # 获取用户输入
    newID = int(input('Enter ID number: '))  # 转换为整数类型
    newName = input('Enter name: ')
    newClass = input('Enter class: ')
    newGrade = int(input('Enter grade: '))  # 转换为整数类型
    
    # 插入用户输入的数据
    cursor.execute('''INSERT INTO students(id, name, class, grade) 
    VALUES(?, ?, ?, ?)''', (newID, newName, newClass, newGrade))
    
    # 提交用户输入的数据
    db.commit()
    
    # 查询并打印所有数据
    cursor.execute('SELECT * FROM students')
    print(cursor.fetchall())

[(1, 'John', 'Math', 75), (2, 'Alice', 'Python', 90), (4, 'zzx', 'COMP', 100), (5, 'Zhang', 'SOPG', 100), (2992330, 'Zhang Zhixing', 'COMP', 100)]

In [7]:
# Example 1: Display all data from the students table
cursor.execute("SELECT * FROM students")
for x in cursor.fetchall():
    print(x)  # Displays all the data from the students table and displays each record on a separate line

# Example 2: Display all data sorted by name
cursor.execute("SELECT * FROM students ORDER BY name")
for x in cursor.fetchall():
    print(x)  # Selects all the data from the students table, sorted by name, and displays each record on a separate line

# Example 3: Select data where grade is greater than 50
cursor.execute("SELECT * FROM students WHERE grade > 50")
for x in cursor.fetchall():
    print(x)  # Selects all the data from the students table where the grade is over 50

# Example 4: Select data where class is 'Python'
cursor.execute("SELECT * FROM students WHERE class = 'Python'")
for x in cursor.fetchall():
    print(x)  # Selects all the data from the students table where the class is 'Python'



# Example 6: Select specific fields (ID, name, grade) from students
cursor.execute("SELECT id, name, grade FROM students")
for x in cursor.fetchall():
    print(x)  # Selects the ID, name, and grade from the students table

(1, 'John', 'Math', 75)
(2, 'Alice', 'Python', 90)
(4, 'zzx', 'COMP', 100)
(5, 'Zhang', 'SOPG', 100)
(2992330, 'Zhang Zhixing', 'COMP', 100)
(2, 'Alice', 'Python', 90)
(1, 'John', 'Math', 75)
(5, 'Zhang', 'SOPG', 100)
(2992330, 'Zhang Zhixing', 'COMP', 100)
(4, 'zzx', 'COMP', 100)
(1, 'John', 'Math', 75)
(2, 'Alice', 'Python', 90)
(4, 'zzx', 'COMP', 100)
(5, 'Zhang', 'SOPG', 100)
(2992330, 'Zhang Zhixing', 'COMP', 100)
(2, 'Alice', 'Python', 90)
(1, 'John', 75)
(2, 'Alice', 90)
(4, 'zzx', 100)
(5, 'Zhang', 100)
(2992330, 'Zhang Zhixing', 100)

In [9]:
# Example 1: Query records based on user input
whichClass = input("Enter a class: ")
cursor.execute("SELECT * FROM students WHERE class=?", [whichClass])
for x in cursor.fetchall():
    print(x)  # Allows the user to enter a class and displays the records of all the students in that class.

# Example 2: Join students and class tables
cursor.execute("""
SELECT students.id, students.name
FROM students
WHERE students.class = ?
""",[whichClass])
for x in cursor.fetchall():
    print(x)  # Selects the ID and name fields from the students table and the lecturer field from the class table. 
              # If you do not specify how the tables are linked, Python assumes every student takes every class.

# Example 3: Update a record
cursor.execute("UPDATE students SET name = 'Richard' WHERE id = 1")
db.commit()  # Updates the data in the table, overwriting the original name to "Richard" for student ID 1.

# Example 4: Delete a record
cursor.execute("DELETE FROM students WHERE id = 1")
db.commit()  # Deletes any data in the students table where the ID is 1.

(4, 'zzx', 'COMP', 100)
(2992330, 'Zhang Zhixing', 'COMP', 100)
(4, 'zzx')
(2992330, 'Zhang Zhixing')

In [10]:
# Example 1: 查询特定班级的记录
whichClass = input("Enter a class: ")
cursor.execute("SELECT * FROM students WHERE class=?", (whichClass,))
print("Students in class:", whichClass)
for x in cursor.fetchall():
    print(x)  # 显示输入的班级的学生记录

Students in class: COMP
(4, 'zzx', 'COMP', 100)
(2992330, 'Zhang Zhixing', 'COMP', 100)